## Compiled JavaScript files
**/*.js
**/*.js.map

# Typescript v1 declaration files
typings/

# temp while working on it
utils.ts

# all files except index.ts
package-lock.json
package.json
tsconfig.json
tslint.json
.DS_Store

node_modules/